<br>
<div class="row">
 <div class="col-12-md">
		<div class="jumbotron">
			<h1>Lesson Land</h1>
			<p>A directory of lessons for your favorite sports.</p>
			<%= link_to("View Lessons", lessons_path, class: "btn btn-success btn-large") %>
		</div>
 </div>
</div>
