<div class="row">
      <div class="col-md-3">
        <h4>Lesson name</h4>
      </div>
      <div class="col-md-3">
        <h4>Description</h4>
      </div>
</div>

<% @lessons.each do |lesson| %>
  <div class="row">
  	<div class="col-md-3">
      <strong><%= link_to lesson.name, lesson_path(lesson) %></strong>
    </div>
    <div class="col-md-3">
      <p><%= lesson.description %></p>
    </div>
  </div>
<% end %>
